    <div id="footer">
      <div class="stripe footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-24">
              <ul class="social">
                <li class="instagram" title="Instagram"><a href="https://instagram.com/vimtastic">&nbsp;</a></li>
                <li class="twitter" title="Twitter"><a href="https://twitter.com/getvimtastic">&nbsp;</a></li>
                <li class="whatsapp" title="WhatsApp"><a href="whatsapp://send?text=Check+out+Vimtastic+https%3A%2F%2Fvimtastic.com">&nbsp;</a></li>
                <li class="facebook" title="Facebook"><a href="https://facebook.com/vimtastic">&nbsp;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

{{ partial "tawk-to.html" . }}

  </body>
</html>
