{{ partial "head" . }}
  <body id="front-page">
    <div id="all-but-footer">

      <div class="stripe title">
        <div class="container">
          <div class="row">
            <div class="col-xs-24">
              <div class="logo"><span style="display: inline-block; height: 100%; vertical-align: middle"></span><img src="/assets/img/vimtastic.jpg" title="Vimtastic" alt="Vimtastic logo"></div>
            </div>
          </div>
          <div class="row">
	    <div class="col-xs-24">
              <h2>The data analytics platform connecting individuals with their health providers and insurers</h2>
	    </div>
          </div>
        </div>
      </div>

      <div class="stripe menu">
        <div class="container">
          <div class="row">
            <div class="col-xs-20 col-xs-push-2">
              <div class="twitter-callout">
                <div class="twitter-inner">Follow us <a href="https://twitter.com/getvimtastic"><img class="logo" src="/assets/img/icon-twitter.png" alt="Twitter @getvimtastic" title="Twitter @getvimtastic"></a> <a href="https://twitter.com/getvimtastic">@getvimtastic</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="stripe signup">
        <div class="container">
          <div class="row signup">
            <div class="col-xs-20 col-xs-push-2">
              <p>
                We're busy making Vimtastic a reality. In the meantime we'd love to let you know when we launch. We promise not to spam you, and you can leave at any time. Just pop your email address in here and you'll be among the first to hear when we're ready.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-20 col-xs-push-2">
              <div id="mc_embed_signup">
                <form action="https://vimtastic.us16.list-manage.com/subscribe/post?u=ad265a2fb49c6d0d4c94614ef&amp;id=48eb897085" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
                      <input type="submit" value="Keep me up to speed" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                    <div class="mc-field-group input-group">
                      <ul>
                        <li>Do you prefer <input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0" checked><label for="mce-EMAILTYPE-0"> fancy emails, or</label></li>
                        <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1"> simple plain-text ones?</label></li>
                      </ul>
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                      <input type="text" name="b_ad265a2fb49c6d0d4c94614ef_48eb897085" tabindex="-1" value="">
                    </div>
                  </div>
                </form>
              </div>
              <script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            </div>
          </div>
        </div>
      </div>

      <div class="stripe about">
        <div class="container">
          <div class="row cofounders">
            <div class="col-xs-12 col-sm-8">
              <div class="card">
                <div class="image">
                  <img src="/assets/img/buzzy.jpg" alt="Buzzy Sadek" title="Buzzy Sadek" width="100" height="100">
                </div>
                <div class="title">
                  <p><strong>Buzzy Sadek, co-founder</strong></p>
                </div>
                <div class="details">
                  <p><a href="https://www.linkedin.com/in/buzzy-sadek-a91876150/">CEO</a>, GP</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="card">
                <div class="image">
                  <img src="/assets/img/austin.jpg" alt="Austin Plunkett" title="Austin Plunkett" width="100" height="100">
                </div>
                <div class="title">
                  <p><strong>Austin Plunkett, co-founder</strong></p>
                </div>
                <div class="details">
                  <p><a href="https://www.linkedin.com/in/austinplunkett/">Researcher</a>, osteopath, IT consultant</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-xs-push-6 col-sm-8 col-sm-push-0">
              <div class="card">
                <div class="image">
                  <img src="/assets/img/liam.jpg" alt="Liam Smith" title="Liam Smith" width="100" height="100">
                </div>
                <div class="title">
                  <p><strong>Liam Smith</strong></p>
                </div>
                <div class="details">
                  <p><a href="https://www.linkedin.com/in/liam-smith-a6a7a5172/">GP</a></p>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-xs-12 col-sm-8">
              <div class="card">
                <div class="image">
                  <img src="/assets/img/liz.jpg" alt="Liz Ashall-Payne" title="Liz Ashall-Payne" width="100" height="100">
                </div>
                <div class="title">
                  <p><strong>Liz Ashall-Payne, advisor</strong></p>
                </div>
                <div class="details">
                  <p><a href="https://www.orcha.co.uk/">Orcha</a> - digital health innovator, entrepreneur, clinician and disruptor</p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-8">
              <div class="card">
                <div class="image">
                  <img src="/assets/img/gareth.jpg" alt="Gareth Eggle" title="Gareth Eggle" width="100" height="100">
                </div>
                <div class="title">
                  <p><strong>Gareth Eggle, advisor</strong></p>
                </div>
                <div class="details">
                  <p><a href="https://www.eggleconsulting.com/">Eggle Consulting</a> - insurance and reinsurance technology</p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-8">
              <div class="card">
                <div class="image">
                  <img src="/assets/img/paul.jpg" alt="Paul Hately" title="Paul Hately" width="100" height="100">
                </div>
                <div class="title">
                  <p><strong>Paul Hately, advisor</strong></p>
                </div>
                <div class="details">
                  <p><a href="https://www.linkedin.com/in/paul-hately-902a89/">Insurance consultant</a> 30+ years experience in global life and health insurance</p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-push-4">
              <div class="card">
                <div class="image">
                  <img src="/assets/img/justin.jpg" alt="Justin James" title="Justin James" width="100" height="100">
                </div>
                <div class="title">
                  <p><strong>Justin James, advisor</strong></p>
                </div>
                <div class="details">
                  <p><a href="https://www.itsbigger.com/">Bigger</a> brand experience agency - Managing Director</p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-xs-push-6 col-sm-8 col-sm-push-4">
              <div class="card">
                <div class="image">
                  <img src="/assets/img/roshni.jpg" alt="Roshni Patel" title="Roshni Patel" width="100" height="100">
                </div>
                <div class="title">
                  <p><strong>Roshni Patel, advisor</strong></p>
                </div>
                <div class="details">
                  <p><a href="https://linkedin.com/in/roshni-patel-91238350/">Accenture Managing Director</a> leading robotics process automation and artificial intelligence in financial services</p>
                </div>
              </div>
            </div>

          </div><!-- row -->
        </div><!-- container -->
      </div><!-- stripe -->

      <div id="footer-push"></div>
    </div><!-- all but footer -->

    <script>
      (function($){
        $(".card").matchHeight();
      })(jQuery);
      (function($){
        $(".box").matchHeight();
      })(jQuery);
      (function($){
        $("#textfill").textfill({innerTag: "h2", maxFontPixels: 0});
      })(jQuery);
    </script>

{{ partial "footer.html" . }}
